.contenedor
{
width:1000px;
vertical-align:middle;
margin:auto;
background-color:white;
}

body
{
background-image:url(imagenes/fondo.jpg);
background-size:cover;
width:100%;
height:100%;
}

#footer
{
background-color:#36750D;
height:50px;
color:white;
}

