body{
	font-family:arial;
	font-size:10pt;
}

.tit {
	font-size:11pt;	
	font-weight:bold;	
	margin-left:20px;	
	color:#23597A;
}
.cont {  
	margin-left:20px;
	margin-right:20px;
}

/* Titulos para los formularios */
.form-title{
	font-size:18pt;
	color:#23597A;
}
.form-subtitle{
	font-size:14pt;
	color:#23597A;
}

/* Estilos para el menu principal */
#tabla_menu{
	width:100%; 
	max-width:890px;
	min-width:100px;
}

/* Estilos para el contenido de la pagina */
#tabla_contenido2{
	width:100%; 
	max-width:890px;
	min-width:890px;
}